/* Общие */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
}

@font-face {
    font-family: 'sangha';
    src: url("/fonts/sangha.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

:root {
    /* MAIN */
    --main-dark: #28282D;
    --main-red: #E3483C;
    --main-dark-red: #B7382E;
    --main-yellow: #F8D043;

    /* LIGHT */
    --main-light: #FFE9D6;
    --light-opas40: rgba(255, 233, 214, 0.4);
    --light-secondary: #e6d2c1d3;
    --light-opas20: rgba(255, 233, 214, 0.2);

    /* BG */
    --bg-light: #F6F0EC;
    --bg-light-grey: #EDEDED;

    /* STROKE */
    --stroke-pink: #FFB9C5;
    --stroke-grey: #DEDEDE;

    /* TEXT */
    --text-black: #28282D;
    --white: #ffffff;
    --white-opas70: rgb(255, 255, 255, 0.7);
    --grey: #A5A5A7;

    /* GAP */
    --gap-menu: 32px;
    --gap-16: 16px;
    --gap-10: 10px;
    --gap-about: 32px;
    --gap-20: 20px;
    --gap-36: 36px;
}

@media (max-width: 320px) {
    :root {
        /* GAP */
        --gap-menu: 10px;
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    :root {
        /* GAP */
        --gap-menu: 14px;
    }
}

a, p, ul, li, h1, h2, h3, h4, h5, h6 {
    font-family: 'Golos Text', sans-serif;
}

a, .link-logo {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

a:hover {
    color: var(--main-yellow);
    transition: color 300ms linear;
}


.link-logo:hover {
    color: var(--secondary-light);
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: calc(100% - 20px);
    }
}

.btn {
    font-family: 'Golos Text', sans-serif;
    background-color: rgba(0,0,0,0);
    border: 2px solid var(--main-red);
    border-radius: 10px;
    color: var(--text-black);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    padding: 13px 17px;
    width: fit-content; 
}

@media (max-width: 600px) {
    .btn {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .btn {
        font-size: 15px;
    }
}

.btn-active {
    font-family: 'Golos Text', sans-serif;
    background-color: var(--main-red);
    border: 2px solid var(--main-red);
    border-radius: 10px;
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    padding: 13px 17px;
    width: fit-content; 
}

@media (max-width: 600px) {
    .btn-active {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .btn-active {
        font-size: 15px;
    }
}

.btn-yellow {
    font-family: 'Golos Text', sans-serif;
    background-color: rgba(0,0,0,0);
    border: 2px solid var(--main-yellow);
    border-radius: 10px;
    color: var(--main-yellow);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    padding: 17px 24px;
    width: fit-content;
}

@media (max-width: 600px) {
    .btn-yellow  {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .btn-yellow  {
        font-size: 15px;
    }
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 81px;
    color: var(--white);
}

h2 {
    font-family: 'Sangha';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 90%;
    color: var(--text-black);
    padding-top: 80px;
    text-transform: uppercase;
}

@media (max-width: 320px) {
    h2 {
        font-size: 36px;
        padding-top: 36px;
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    h2 {
        font-size: 40px;
        padding-top: 40px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    h2 {
        font-size: 50px;
        padding-top: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h2 {
        font-size: 60px;
        padding-top: 60px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    h2 {
        font-size: 70px;
        padding-top: 70px;
    }
}

.img-object-fit {
    object-fit: contain;
}

.bg-light {
    background-color: var(--bg-light);
}

.bg-red {
    background-color: var(--main-red);
}

/* header */

.background-img{
    background-image: url(/images/bg-header.png);
    background-size: cover;
    background-position: top;
}

.header-style {
    border: 2px solid var(--main-yellow);
    border-radius: 0px 0px 20px 20px;
}
 
.header {
    padding: 25px 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.hamburger-menu {
    display: none;
}

.hamburger-line {
    width: 24px;
    height: 1px;
    background: var(--dark-elight);
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: var(--gap-menu);
}

@media (max-width: 600px) {
    .nav-list {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .nav-list {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 960px) {
    .nav-list {
        display: none;
    }
}

.nav-item {
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
}

@media (min-width: 960px) and (max-width: 1280px) {
    .nav-item {
        font-weight: 600;
        font-size: 13px;
        line-height: 120%;
    }
}

@media (max-width: 600px) {
    .link-logo {
        width: 80%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .link-logo {
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .link-logo {
        width: 80%;
    }
}

.icon-list {
    display: flex;
    gap: var(--gap-menu);
}

@media (max-width: 320px) {
    .icon-list {
        gap: var(--gap-menu);
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    .icon-list {
        gap: var(--gap-menu);
    }
}

/* hero-block */


.slider-item {
    padding: 160px 0px 110px 0px;
    text-align: center;
}

@media (max-width: 320px) {
    .slider-item {
        padding: 40px 0px 40px 0px;
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    .slider-item {
        padding: 60px 0px 50px 0px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .slider-item {
        padding: 80px 0px 70px 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .slider-item {
        padding: 120px 0px 90px 0px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .slider-item {
        padding: 160px 0px 110px 0px;
    }
}

@media (max-width: 600px) {
    .img-tan-zhen {
        width: 60%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .img-tan-zhen {
        width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .img-tan-zhen {
        width: 40%;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .img-tan-zhen {
        width: 40%;
    }
}

.hero-description {
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    color: var(--white);
}

.arrow-list {
    display: flex;
    justify-content: center;
}

@media (max-width: 320px) {
    .arrow-hero {
        width: 16px;
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    .arrow-hero {
        width: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .arrow-hero {
        width: 24px;
    }
}


.back {
    border: 2px solid var(--main-yellow);
    border-radius: 20px 0px 0px 0px;
}

.next {
    border: 2px solid #F8D043;
    border-radius: 0px 20px 0px 0px;
}

.arrow-item {
    padding: 35px 35px 27px 35px;
}

@media (max-width: 600px) {
    .arrow-item {
        padding: 20px 20px 12px 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .arrow-item {
        padding: 28px 28px 20px 28px;
    }
}

/* main */

/* О сети ресторанов */

.about {
    padding: 48px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .about {
        padding: 48px 0px 0px 0px;
        flex-direction: column;
        gap: var(--gap-20);
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .about {
        padding: 48px 0px 0px 0px;
        flex-direction: column;
        gap: var(--gap-20);
    }
}

.about-item {
    width: calc((100%)/2);
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .about-item {
        width: 100%;
        justify-content: center;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .about-item {
        width: 100%;
        justify-content: center;
    }
}

.about-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--text-black);
    padding-right: 56px;
}

@media (max-width: 600px) {
    .about-text {
        font-size: 16px;
        padding-right: 0px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .about-text {
        font-size: 17px;
        padding-right: 0px;
    }
}

.about-item-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-right: 2px solid var(--stroke-grey);
}

@media (max-width: 600px) {
    .about-item-text {
        border-right: none;
        align-items: start;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .about-item-text {
        border-right: none;
        align-items: start;
    }
}

.advantages-list {
    padding-left: 56px;
    display: flex;
    gap: var(--gap-about);
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .advantages-list {
        padding-left: 0px;
        flex-direction: column;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .advantages-list {
        padding-left: 0px;
    }
}

.advantages-item {
    width: calc((100% - var(--gap-about)*1)/2);
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .advantages-item {
        width: 100%;
        align-items: center;
    }
}

.advantages-title {
    font-family: 'Sangha';
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--main-red);
    padding-bottom: 8px;
}

.advantages-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--text-black);
}

/* ЛУЧШИЕ БЛЮДА */

.container-cards {
    padding: 80px 0px;
}

@media (max-width: 600px) {
    .container-cards {
        padding: 50px 0px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .container-cards {
        padding: 60px 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container-cards {
        padding: 70px 0px;
    }
}

.border-cards {
    border-right: 2px solid var(--main-red);
    border-left: 2px solid var(--main-red);
}

.title-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
    gap: var(--gap-20);
}

@media (max-width: 320px) {
    .title-tabs {
        padding-bottom: 16px;
        gap: var(--gap-10);
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    .title-tabs {
        padding-bottom: 24px;
        gap: var(--gap-10);
    }
}

.title-food {
    padding-top: 0;
}

.text-food {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-left: 8px;
}

.discription-food {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--grey);
}

.btn-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-20);
    padding-right: 16px;
}

@media (max-width: 320px) {
    .btn-list {
        gap: var(--gap-10);
        padding-right: 0px;
        padding-left: 8px;
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    .btn-list {
        gap: var(--gap-10);
        padding-right: 0px;
        padding-left: 8px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .btn-list {
        gap: var(--gap-10);
        padding-right: 0px;
    }
}

/* Карточки товаров */

.wrapper {
    position: relative;
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 1px;

    overflow: hidden;
}

.cards-item {
    padding: 0px 14px;
    border-right: 2px solid var(--main-red);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: calc(100% / 4);
}

@media (max-width: 320px) {
    .cards-item {
        min-width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    .cards-item {
        min-width: calc(100%);
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .cards-item {
        min-width: calc(100% / 2);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cards-item {
        min-width: calc(100% / 3);
    }
}

.cards-item:last-child {
    border-right: 0px solid var(--main-red);
}

.title-img-cards {
    padding-bottom: var(--gap-20);
}

.img-cards {
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.title-cards {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: var(--text-black);
    padding-top: var(--gap-16);
}

.price-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-cards {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: var(--main-red);
}

.icon-cards {
    padding: 13px;
    border: 2px solid var(--main-red);
    border-radius: 10px;
}

.arrow-item-cards {
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 14px 17px;
    border: 2px solid var(--main-red);

    position: absolute;
}

@media (max-width: 600px) {
    .arrow-item-cards {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .arrow-item-cards {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .arrow-item-cards {
        display: none;
    }
}

.cards-back {
    border-radius: 10px 0px 0px 10px;

    left: -56px;
    top: 40%;
}

.cards-next {
    border-radius: 0px 10px 10px 0px;

    right: -56px;
    top: 40%;
}

/* Акции */

.border-promotion {
    border-left: 2px solid var(--stroke-grey);
    border-right: 2px solid var(--stroke-grey);
}

.promotion-list {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0px;
}

@media (max-width: 600px) {
    .promotion-list {
        padding: 50px 0px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .promotion-list {
        padding: 60px 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .promotion-list {
        padding: 70px 0px;
    }
}

.promotion-item {
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid var(--stroke-grey);
}

@media (max-width: 600px) {
    .promotion-item {
        width: calc(100%);
        border-right: 0px solid var(--stroke-grey);
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .promotion-item {
        width: calc(100%);
        border-right: 0px solid var(--stroke-grey);
    }
}

.promotion-item:last-child {
    border-right: 0px solid var(--stroke-grey);
}

.title-promotion {
    color: var(--white);
    padding-bottom: 40px;
    padding-top: 0;
    text-align: center;
}

@media (max-width: 600px) {
    .title-promotion {
        padding-bottom: 30px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .title-promotion {
        padding-bottom: 30px;
    }
}

.promotion-text-list {
    padding-bottom: 40px;
}

@media (max-width: 600px) {
    .promotion-text-list {
        padding: 0px 10px 30px 10px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .promotion-text-list {
        padding: 0px 10px 30px 10px;
    }
}

.promotion-text-item {
    list-style: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: var(--white);
}

@media (max-width: 600px) {
    .promotion-text-item {
        font-size: 20px;
    }
}

.img-sale {
    width: 100%;
    padding: 0px 15px;
}

@media (max-width: 600px) {
    .img-sale {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .img-sale {
        display: none;
    }
}

/* Новости */

.news-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 40px;
    padding-bottom: 80px;
}

@media (max-width: 600px) {
    .news-list {
        padding: 30px 0px 50px 0px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .news-list {
        padding: 40px 0px 60px 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .news-list {
        padding: 40px 0px 70px 0px;
    }
}

.news-item {
    width: calc((100% - var(--gap-36)*2)/3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid var(--stroke-grey);
}

@media (max-width: 600px) {
    .news-item {
        width: 100%;
        border-right: 0px solid var(--stroke-grey);
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .news-item {
        width: calc((100% - var(--gap-36)*1)/2);
    }
}

.news-item:last-child {
    border-right: 0px solid var(--stroke-grey);
}

@media (min-width: 600px) and (max-width: 768px) {
    .news-item:last-child {
        border-right: 2px solid var(--stroke-grey);
    }
}

.news-text {
    display: flex;
    flex-direction: column;
    padding-right: 32px;
}

.news-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: var(--text-black);
    padding-bottom: 32px;
}

@media (max-width: 600px) {
    .news-title {
        font-size: 20px;
        padding-bottom: 16px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .news-title {
        padding-bottom: 24px;
    }
}

.news-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--text-black);
    padding-bottom: 24px;
}

.more-btn {
    display: flex;
    gap: var(--gap-10);
}

.more-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: var(--main-red);
}

/* Отзывы */

.container-reviews {
    padding: 80px 0px;
}

@media (max-width: 600px) {
    .container-reviews {
        padding: 50px 0px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .container-reviews {
        padding: 60px 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container-reviews {
        padding: 70px 0px;
    }
}

.border-reviews {
    border-right: 2px solid var(--main-light);
    border-left: 2px solid var(--main-light);
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-left: 8px;
    padding-bottom: 35px;
}

.title-reviews {
    padding-top: 0;
    color: var(--white);
}

.discription-reviews {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--light-secondary);
    padding-left: 6px;
}

.wrapper-reviews {
    position: relative;
}

.reviews-back {
    border-radius: 10px 0px 0px 10px;
    left: -56px;
    top: 40%;
}

.reviews-next {
    border-radius: 0px 10px 10px 0px;
    right: -56px;
    top: 40%;
}

.arrow-item-reviews {
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 14px 17px;
    border: 2px solid var(--main-light);
    position: absolute;
}

@media (max-width: 600px) {
    .arrow-item-reviews {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .arrow-item-reviews {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .arrow-item-reviews {
        display: none;
    }
}

.reviews-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 2px;
    overflow: hidden;
}

@media (max-width: 600px) {

}

@media (min-width: 600px) and (max-width: 768px) {

}

.reviews-item {
    padding: 0px 20px 0px 14px;
    border-right: 2px solid var(--white-opas70);
    display: flex;
    flex-direction: column;
    min-width: calc(100% / 3);
}

@media (max-width: 600px) {
    .reviews-item {
        min-width: calc(100%);
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .reviews-item {
        min-width: calc(100%);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .reviews-item {
        min-width: calc(100% / 2);
    }
}

.reviews-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: var(--white);
    padding-bottom: 32px;
}

@media (max-width: 600px) {
    .reviews-name {
        padding-bottom: 16px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .reviews-name {
        padding-bottom: 24px;
    }
}

.reviews-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--white-opas70); 
}

/* Footer */

.background-img-footer {
    background-image: url(/images/img-footer.png);
    background-size: cover;
    background-position: top;
    padding: 80px 0px;
}

@media (max-width: 600px) {
    .background-img-footer {
        padding: 50px 0px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .background-img-footer {
        padding: 60px 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .background-img-footer {
        padding: 70px 0px;
    }
}

.bg-text-footer {
    background: var(--main-light);
    opacity: 0.85;
    border-radius: 50px;
    padding: 80px;
}

@media (max-width: 600px) {
    .bg-text-footer {
        padding: 50px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .bg-text-footer {
        padding: 60px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .bg-text-footer {
        padding: 70px;
    }
}

.footer-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--gap-16);
}

@media (max-width: 600px) {
    .footer-list {
        flex-direction: column;
    }
}

.footer-item {
    width: calc((100% - var(--gap-36)*3)/4);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 600px) {
    .footer-item {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .footer-item {
        width: calc((100% - var(--gap-36)*1)/2);
    }
}

.footer-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--text-black);
}