/* Общие */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
}

@font-face {
    font-family: 'sangha';
    src: url("/fonts/sangha.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

:root {
    /* MAIN */
    --main-dark: #28282D;
    --main-dark-red: #E3483C;
    --main-red: #B7382E;
    --main-yellow: #F8D043;
    --main-light: #FFE9D6;

    /* BG */
    --bg-light: #F6F0EC;
    --bg-light-grey: #EDEDED;

    /* STROKE */
    --stroke-pink: #FFB9C5;
    --stroke-grey: #DEDEDE;

    /* TEXT */
    --text-black: #28282D;
    --white: #ffffff;

    /* GAP */
    --gap-menu: 32px;
    --gap-16: 10px;
    --gap-10: 10px;
    --gap-about: 32px
}

a, p, ul, li, h1, h2, h3, h4, h5, h6 {
    font-family: 'Golos Text', sans-serif;
}

a, .link-logo {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

a:hover {
    color: var(--main-yellow);
    transition: color 300ms linear;
}


.link-logo:hover {
    color: var(--secondary-light);
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: calc(100% - 20px);
    }
}

.btn {
    font-family: 'Golos Text', sans-serif;
    background-color: rgba(0,0,0,0);
    border: 1px solid var(--secondary-middle);
    color: var(--white);
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 11px 20px 9px 20px;
    width: fit-content; 
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 81px;
    color: var(--white);
}

h2 {
    font-family: 'Sangha';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 90%;
    color: var(--text-black);
    padding-top: 80px;
}

.img-object-fit {
    object-fit: contain;
}

.bg-light {
    background-color: var(--bg-light);
}

.bg-red {
    background-color: var(--main-red);
}

/* header */

.background-img{
    background-image: url(/images/bg-header.png);
    background-size: cover;
    background-position: top;
}

.header-style {
    border: 2px solid var(--main-yellow);
    border-radius: 0px 0px 20px 20px;
}
 
.header {
    padding: 25px 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.hamburger-menu {
    display: none;
}

.hamburger-line {
    width: 24px;
    height: 1px;
    background: var(--dark-elight);
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: var(--gap-menu);
}

.nav-item {
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
}

.icon-list {
    display: flex;
    gap: var(--gap-menu);
}

/* hero-block */


.slider-item {
    padding: 160px 0px 110px 0px;
    text-align: center;
}

.hero-description {
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    color: var(--white);
}

.arrow-list {
    display: flex;
    justify-content: center;
}

.back {
    border: 2px solid var(--main-yellow);
    border-radius: 20px 0px 0px 0px;
}

.next {
    border: 2px solid #F8D043;
    border-radius: 0px 20px 0px 0px;
}

.arrow-item {
    padding: 35px 35px 27px 35px;
}

/* main */

/* О сети ресторанов */

.about {
    padding: 48px 0px 0px 0px;
    display: flex;
}

.about-item {
    width: calc((100%)/2);
    display: flex;
    align-items: center;
}

.about-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--text-black);
    padding-right: 56px;
}

.about-item-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-right: 2px solid var(--stroke-grey);
}

.advantages-list {
    padding-left: 56px;
    display: flex;
    gap: var(--gap-about);
    flex-wrap: wrap;
}

.advantages-item {
    width: calc((100% - var(--gap-about)*1)/2);
}

.advantages-title {
    font-family: 'Sangha';
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--main-dark-red);
    padding-bottom: 8px;
}

.advantages-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--text-black);
}

/* .accent-title {
    font-family: 'Sangha';
    font-weight: 400;
    font-size: 200px;
    line-height: 120%;
    border: 2px solid #F8D043;
    opacity: 0.6;
} */